{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        <div class="card words">
            <div class="align-items-center card-header d-flex justify-content-between" id="headingOne">
              <h6>
                {% trans "Change Password" %}
              </h6>
                <div class="card-summary">
                  <input type="submit" name="action" value="Change Password" class="btn btn-sm btn-secondary" id="submit-id-submit">
                </div>
            </div>
            <div class="card-body">
            {% csrf_token %}
            {{ form.as_p }}
            </div>
        </div>
    </form>
{% endblock %}
